body{
    background-color: rgb(230, 230, 230)!important;
}

#welcome-image{
    background-image: url("../images/background_blur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
}

#seasons-image{
    background-image: url("../images/seasons_blur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
}

#welcome-text{
    color: whitesmoke;
    text-shadow: 0px 0px 10px black;
}

#subpage-text{
    color: whitesmoke;
    text-shadow: 0px 0px 10px black;
    font-size: 10vh;
}

#welcome-text-logo{
    height: 7vh;
}

.test-border{
    border: 2px dotted red;
}

#last-race-current-scores{
    padding-top: 5vh;
}

a.custom-link{
    color: black!important;
    font-weight: bold;
}