/*------------------------------------------------------------*/
/* Fonts / Colors */
/*------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
    --white: white;
    --black: #36383F;
    --grey: #85888C;
    --beige: antiquewhite;
    --red: #CC6666;
}